$body-background: #340068;
$card-colour: #E10000;
$text-colour: #C9FEF9;
$button-background: #FFFCF9;
$button-text: #6D435A;
$brand-primary: #999;
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.5pt;