<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card text-center border-primary mb-3 h-80" style="width: 16rem;" id="shibainu">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/shibainu.jpg"
                            alt="Shibainu">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Shiba Inu</h2>
                    <p class="card-text">The Shiba Inu is a Japanese breed of hunting dog. A small-to-medium breed, it
                        is the smallest of the six original and distinct spitz breeds of dog native to Japan.</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#shibainu-detail">Learn More</button>
                    <div class="modal fade" id="shibainu-detail" tabindex="-1" role="dialog"
                        aria-labelledby="shibainu_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary1 mb-3">
                                    <h2 class="modal-title w-100 w-100 ">Shiba Inu</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>The Shiba Inu (柴犬, Japanese: [ɕiba̠ inɯ̟ᵝ]) is a Japanese breed of hunting dog. A
                                        small-to-medium breed, it is the smallest of the six original and distinct spitz
                                        breeds of dog native to Japan. A small, agile dog that copes very well with
                                        mountainous terrain, the Shiba Inu was originally bred for hunting. It looks
                                        similar to and is often mistaken for other Japanese dog breeds like the Akita
                                        Inu or Hokkaido, but the Shiba Inu is a different breed with a distinct blood
                                        line, temperament, and smaller size than other Japanese dog breeds.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="rottweiler">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/rottweiler.jpg"
                            alt="Rottweiler">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Rottweiler</h2>
                    <p class="card-text">The Rottweiler is a breed of domestic dog, regarded as medium-to-large or
                        large. Rottweilers are now also used as search and rescue dogs, and guard dogs.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#rottweiler-detail">Learn
                        More</button>
                    <div class="modal fade" id="rottweiler-detail" tabindex="-1" role="dialog"
                        aria-labelledby="rottweiler_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100 w-100">Rottweiler</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>The Rottweiler (/ˈrɒtwaɪlər/, UK also /-vaɪlər/) is a breed of domestic dog,
                                        regarded as medium-to-large or large. The dogs were known in German as
                                        Rottweiler Metzgerhund, meaning Rottweil butchers' dogs, because their main
                                        use was to herd livestock and pull carts laden with butchered meat to market.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="poodle">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/poodle.jpg"
                            alt="Poodle">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Poodle</h2>
                    <p class="card-text">The Poodle is a formal dog breed that comes in three varieties: Standard
                        Poodle,
                        Miniature Poodle, and Toy Poodle. The poodle is ranked second most intelligent breed.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#poodle-detail">Learn
                        More</button>
                    <div class="modal fade" id="poodle-detail" tabindex="-1" role="dialog"
                        aria-labelledby="poodle_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100 w-100">Poodle</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>The Poodle is a formal dog breed that comes in three varieties: Standard Poodle,
                                        Miniature Poodle, and Toy Poodle. The origin of the breed is still discussed,
                                        with a prominent dispute over whether the poodle descends from Germany as a type
                                        of water dog, or from the French Barbet.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="pomeranian">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/pomerian.jpg"
                            alt="Pomeranian">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Pomeranian</h2>
                    <p class="card-text">The Pomeranian is a breed of dog of the Spitz type that is named for the
                        Pomerania region in north-west Poland and north-east Germany in Central Europe.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#pomeranian-detail">Learn
                        More</button>
                    <div class="modal fade" id="pomeranian-detail" tabindex="-1" role="dialog"
                        aria-labelledby="pomeranian_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100">Pomeranian</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>The Pomeranian (often known as a Pom) is a breed of dog of the Spitz type that is
                                        named for the Pomerania region in north-west Poland and north-east Germany in
                                        Central Europe. Classed as a toy dog breed because of its small size, the
                                        Pomeranian is descended from larger Spitz-type dogs, specifically the German
                                        Spitz. It has been determined by the Fédération Cynologique Internationale to be
                                        part of the German Spitz breed; and in many countries, they are known as the
                                        Zwergspitz ("Dwarf-Spitz").
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="labrador">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/Labrador.jpg"
                            alt="labrador">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Labrador</h2>
                    <p class="card-text">The Labrador Retriever, Labrador or just Lab, is a medium-large breed of
                        retriever-gun dog. The Labrador is most popular in Canada, the UK, and the USA.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#labrador-detail">Learn
                        More</button>
                    <div class="modal fade" id="labrador-detail" tabindex="-1" role="dialog"
                        aria-labelledby="labrador_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100">Labrador</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>A favourite disability assistance breed in many countries, Labradors are
                                        frequently trained to aid those with blindness or autism, act as a therapy dog,
                                        or perform screening and detection work for law enforcement and other official
                                        agencies. The breed is best known for their obedience, loyalty, and playful
                                        composure. Additionally, they are prized as sporting and hunting dogs.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="husky">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/husky.jpg"
                            alt="Siberian Husky">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Husky</h2>
                    <p class="card-text">The Siberian Husky (Russian: Сибирский хаски, tr. Sibirskiy khaski) is a
                        medium-sized working dog breed. Siberian Huskies originated in NE Asia.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#husky-detail">Learn
                        More</button>
                    <div class="modal fade" id="husky-detail" tabindex="-1" role="dialog"
                        aria-labelledby="husky_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100">Husky / Siberian Husky</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Siberian Huskies originated in Northeast Asia where they are bred by the Chukchi
                                        people for sled-pulling, guarding, and companionship. It is an active,
                                        energetic, resilient breed, whose ancestors lived in the extremely cold and
                                        harsh environment of the Siberian Arctic. William Goosak, a Russian fur trader,
                                        introduced them to Nome, Alaska during the Nome Gold Rush, initially as sled
                                        dogs.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="retriever">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/goldenretriever.jpg"
                            alt="Retriever">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Retriever</h2>
                    <p class="card-text">The Golden Retriever is a medium-large gun dog that retrieves shot waterfowl,
                        such as ducks and upland game birds, during hunting and shooting parties.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#retriever-detail">Learn
                        More</button>
                    <div class="modal fade" id="retriever-detail" tabindex="-1" role="dialog"
                        aria-labelledby="retriever_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100">Retriever / Golden Retriever</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Golden retrievers have an instinctive love of water, and are easy to train to
                                        basic or advanced obedience standards. They are a long-coated breed, with a
                                        dense inner coat that provides them with adequate warmth in the outdoors, and an
                                        outer coat that lies flat against their bodies and repels water. Golden
                                        retrievers are well suited to residency in suburban or country environments.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="doberman">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/doberman.jpg"
                            alt="doberman">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Doberman</h2>
                    <p class="card-text">The Dobermann, (/ˈdoʊbərmən/) or Doberman
                        Pinscher in the USA and Canada, is a medium-large breed that was originally developed around
                        1890 by Karl Friedrich Louis Dobermann.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#doberman-detail">Learn
                        More</button>
                    <div class="modal fade" id="doberman-detail" tabindex="-1" role="dialog"
                        aria-labelledby="doberman_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content ">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title  w-100">Doberman</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body ">
                                    <p>The Dobermann has a long muzzle. It stands on its pads and is not usually
                                        heavy-footed. Ideally, they have an even and graceful gait. Traditionally, the
                                        ears are cropped and posted and the tail is docked. However, in some countries,
                                        it is illegal to do so. Dobermanns have markings on the chest, paws/legs,
                                        muzzle, above the eyes, and underneath the tail.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="bulldog">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/bulldog.jpg"
                            alt="bulldog">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Bulldog</h2>
                    <p class="card-text">The Bulldog, also known as the British Bulldog or English Bulldog, is a
                        medium-sized dog breed. It is a muscular, hefty dog with a wrinkled face and pushed-in nose.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#bulldog-detail">Learn
                        More</button>
                    <div class="modal fade" id="bulldog-detail" tabindex="-1" role="dialog"
                        aria-labelledby="bulldog_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100">Bulldog</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bulldogs have a longstanding association with English culture, as the BBC wrote:
                                        "to many the Bulldog is a national icon, symbolising pluck and
                                        determination." During World War II, Bulldogs were often likened to Prime
                                        Minister Winston Churchill and his defiance of Nazi Germany.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card border-primary mb-3 h-80 text-center" style="width: 16rem;" id="beagle">
                <div class="embed-responsive embed-responsive-16by9">
                    <a>
                        <img class="card-img-top embed-responsive-item" src="../../public/images/beagle.jpg"
                            alt="beagle">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">Beagle</h2>
                    <p class="card-text">Beagle is a breed of small hound that is similar in appearance to the much
                        larger foxhound. It's popular pet due to size, good temper & no inherited
                        health issues.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#beagle-detail">Learn
                        More</button>
                    <div class="modal fade" id="beagle-detail" tabindex="-1" role="dialog"
                        aria-labelledby="beagle_details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-primary mb-3">
                                    <h2 class="modal-title w-100 w-100">Beagle</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>The beagle is a scent hound, developed primarily for hunting hare (beagling).
                                        Possessing a great sense of smell and superior tracking instincts, the beagle is
                                        the primary breed used as detection dogs for prohibited agricultural imports and
                                        foodstuffs in quarantine around the world. The beagle is intelligent.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>